#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.planet {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 20px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

/*.planet-img {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  */
/*}*/

.planet.mercury:hover .planet-img {
  /* filter: drop-shadow(0 0 20px rgba(7, 6, 0, 0.8)); */
  animation: planet-spin 10s linear infinite;
}

.planet.mercury.active {
  border: 2px solid #ffaa33;
}

.card {
  padding: 2em;
  display: inline-block;
  text-align: left;
  border: 2px solid #ffaa33;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 220px; /* Adjust this value to position the card */
  left: 100px; /* Adjust this value to position the card */
  z-index: 1;
}

.card h2 {
  margin-top: 0;
  color: #ffaa33;
}

.card h3 {
  margin-top: 1rem;
  color: #333;
}

.card p {
  margin-bottom: 1rem;
  color: #555;
}

@keyframes planet-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
